body {
    background-color: black;
}
.header {
    color: white;
    background-color: orangered;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.logo {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}
.projects {
    margin-right: 15px;
    text-decoration: none;
    color: white;
}
.stage {
    height: 500px;
    width: auto;

}
.couch {
    height: 500px;
    width: auto;
}
.row1 {
    display: flex;
    justify-content: space-around;
    margin: 100px 100px 50px 100px
}
.row2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;

}

.row2 img {
    height: 400px;
    width: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gemini {
    display: flex;
    color: white;
    gap: 100px;
    margin: 50px;

}
.geminiart {
    height: 500px;
    width: auto;
}
.description {
    width: 600px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tracks 
.title {
    text-align: center;
    font-size: 20px;
}
li {
    margin: 55px;
}